.navbar {
    display: flex;
    justify-content: space-between; /* logo left, user right */
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.navbar-left a,
.navbar-right a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar-left img {
    height: 40px;
    vertical-align: middle;
}
