.navbar-pagination {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-option {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-option:hover {
    background-color: #666;
}

.nav-icon {
    height: 20px;
    margin-right: 8px;
}

.local-navbar ul,
.global-navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.local-navbar a,
.global-navbar a {
    text-decoration: none;
    color: #fff;
}
